# Used in compose from deployment repo

# ########
# DJANGO #
# ########

SECRET_KEY=SECRET_KEY
PAGE_SIZE=20

# #######
# Other #
# #######

SENTRY_DSN=YOUR_DSN_KEY
# WEBDRIVER_PATH=/chromedriver/chromedriver
PROXY=
