# Used in docker compose

# ######
# DATA #
########

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sora

DATABASE_HOST=db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

DATABASE_PORT=5432
DATABASE_NAME=sora

REDIS_URL=redis://redis:6379

ELASTICSEARCH_HOST=elasticsearch:9200

# ########
# DJANGO #
# ########

DEBUG=1
SECRET_KEY=DevServer
# Comma-separated list
ALLOWED_HOSTS=*
PAGE_SIZE=20

# #######
# Other #
# #######

SENTRY_DSN=YOUR_DSN_KEY
WEBDRIVER_PATH=/chromedriver/chromedriver
PROXY=
