# Used in docker compose

########
# DATA #
########

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sora

##########
# DJANGO #
##########

DEBUG=1
SECRET_KEY=DevServer
# Whitespace-separated list
ALLOWED_HOSTS=*

#########
# Other #
#########

PROXY=
