# Used in docker compose

# ##########
# DATABASE #
# ##########

DATABASE_HOST=db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

DATABASE_PORT=5432
DATABASE_NAME=sora

# ########
# DJANGO #
# ########

DEBUG=1
SECRET_KEY=DevServer
ALLOWED_HOSTS=*
PAGE_SIZE=20
DJANGO_COLORS="success=green,bold;notice=cyan,bold;error=red,bold"
SENTRY_DSN=YOUR_DSN_KEY

# ########
# DOCKER #
# ########

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sora

# #######
# REDIS #
# #######

REDIS_URL=redis://redis:6379

# ########
# CELERY #
# ########
RUN_CELERY=1
