# Your local config to develop without docker

# ##########
# DATABASE #
# ##########

DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Port from docker-compose
DATABASE_PORT=8882
DATABASE_NAME=sora

# ########
# DJANGO #
# ########

DEBUG=1
SECRET_KEY=DevServer
ALLOWED_HOSTS=*
DJANGO_COLORS=green

# #######
# REDIS #
# #######

# Port from docker-compose
REDIS_URL=redis://localhost:8883
