# Your local config to develop without docker

# ######
# DATA #
# ######

DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Port from docker-compose
DATABASE_PORT=8882
DATABASE_NAME=sora

# Port from docker-compose
REDIS_URL=redis://localhost:8883

# Port from docker-compose
ELASTICSEARCH_HOST=localhost:9200

# ########
# DJANGO #
# ########

DEBUG=1
SECRET_KEY=DevServer
# Whitespace-separated list
ALLOWED_HOSTS=*
PAGE_SIZE=20

# #######
# Other #
# #######

SENTRY_DSN=YOUR_DSN_KEY
PROXY=
