# Compose for development using volumes to ensure hot reload
version: "3"

services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    expose:
      - 8000
    environment:
      - PORT=8000
    ports:
      - "8880:8000"
    volumes:
      - ./:/app
      # exclude dotenvs in volume
      - /app/.envs
    env_file:
      - ./.envs/docker.env
    depends_on:
      - db
      - redis

  db:
    restart: unless-stopped
    image: postgres:12
    ports:
      - "8882:5432"
    volumes:
      - sora_postgres:/var/lib/postgresql/data
    env_file:
      - .envs/docker.env

  redis:
    image: redis
    command: redis-server
    restart: unless-stopped
    expose:
      - 6379
    ports:
      - "8883:6379"
    volumes:
      - sora_redis:/var/lib/redis
      - sora_redis:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master

volumes:
  sora_redis:
  sora_postgres:
