[tool.poetry]
name = "backend"
version = "0.1.0"
description = "backend for manga reader"
authors = ["ScriptHound <grinkiko@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "3.8.1"
Django = "^3.1.6"
psycopg2 = "^2.8.6"
djangorestframework = "^3.12.2"
Markdown = "^3.3.3"
django-filter = "^2.4.0"
python-dotenv = "^0.15.0"
djangorestframework-simplejwt = "^4.6.0"
Scrapy = "^2.4.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.8.4"
black = "^20.8b1"
autoflake = "^1.4"
isort = "^5.7.0"
pytest = "^6.2.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py37', 'py38']
exclude = '''
(
    \.eggs
  | \.git
  | build
  | dist
  | venv
  | migrations
)
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 120
skip_gitignore = true